/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
a{
	text-decoration: none;
	color: black;
}

a:visited {
	color: black;
}

body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	min-height: 800px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	row-gap: 13px;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
}

/** Filter buttons **/
.filters {
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: center;
}

.filter {
	height: 37px;
	font-size: 16px;
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	background-color: white;
	text-align: center;
	border: 1px solid #1D6154;
	border-radius: 60px;
	margin-top: 21px;
	margin-bottom: 51px;
	padding-left: 20px;
	padding-right: 20px;
	min-width: 100px;
}

.selected {
	color: white;
	background-color: #1D6154;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact, #login {
	width: 50%;
margin: auto;
}
#contact > *, #login > * {
	text-align: center;

}
#contact h2, #login h2{
	margin-bottom: 20px;
}
#contact form, #login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, #login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, #login label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 0px auto 34px auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

#login a {
	text-decoration-line: underline;
}


footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

.flex {
	min-height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.login-message {
	color: rgb(200, 0, 0);
	font-size: 16px;
	font-family: 'Syne';
	font-weight: 700;
	height: 40px;
	line-height: 40px;
}

.publish {
	height: 59px;
	width: calc(100vw - 20px);
	margin-left: calc(-50vw + 50% + 10px);
	background-color: black;
	font-size: 16px;
	font-family: 'Work Sans';
	font-weight: 400;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 21px;
}

.fa-pen-to-square {
	margin-right: 8px;
}

.publish .fa-pen-to-square {
	color: white;
	height: 19px;
	width: 19px;
}

.button-publish {
	font-size: 14px;
	font-family: 'Work Sans';
	font-weight: 500;
	color: black;
	background-color: white;
	padding: 11px 23px;
	border-radius: 60px;
	border-width: 0px;
}

.modify .fa-pen-to-square {
	color: black;
	height: 18px;
	width: 18px;
}

.modify {
	font-size: 14px;
	font-family: 'Work Sans';
	font-weight: 400;
}

#introduction .modify{
	margin-right: 100%;
	margin-left: 5%;
	display:flex;
	flex-direction: row;
}

.projects {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	margin-bottom: 30px;
	gap: 30px;
	justify-content: center;
	margin-left: 113.28px;
}